
.vs/Algorithms/v16/.suo
.vs/Algorithms/v16/.suo
.vs/Algorithms/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.swp
*.out
*.o
Array_and_Strings/NewYearChaos
.DS_Store
Threads and Concurrency/SPSC
